body{
    font-family:arial,sans-serif;
    margin:0;
    padding:0;
    line-height:1.6;
}
nav{
    background:#333;
    color:#fff;
    padding: 1rem;
    text-align: center;
    display:flex;
    
}
img{
    display:flex;
}
nav ul
{
    list-style:none;
    padding-left:20px;
}
nav ul li{
    display:inline;
    margin:0 1rem;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
}
button{
    display:flex;
}
section{
    padding:2rem;
    margin: 2rem 0;
}
#row{
    width:40%;
    line height:20;
}
#home{
    background:#f4f4f4;
}
#home h1{
    margin-top:0;
}
#skills ul{
    list-style:none;
    padding:0;
}
#skills ul li{
    background:#e4e4e4;
    margin:0.5rem 0;
    padding:0.5rem;
}
footer{
    background:#333;
    color:#fff;
    text-align:center;
    padding:1rem;
    position: relative;
    width:100%;
    bottom:0;
}
.main
{
    display:inline-flex;
}
